parameters:
    level: 6
    paths:
        - src
        - public
    ignoreErrors:
        -
            message: "#^Offset 'due_at' does not exist on int\\|string\\.$#"
            count: 1
            path: src/Actions/HomePageAction.php
